!!!
%html
  %head
    %title Ext MVC - Ruby on Rails in the browser
    = stylesheets :reset, :text, '960', :layout, :nav, :application
  %body
    %div.container_12
      %div.grid_12
        %h1#branding= link 'Ext MVC - Ruby on Rails for ExtJS', '/'
      .clear
      
      %div.grid_12
        %ul.nav.main
          %li= link 'Home', '/'
          %li= link 'Get Started', '/get-started'
          %li= link 'Samples', '/samples'
          %li= link 'Tutorials', '/tutorials'
          %li= link 'Plugins', '/plugins'
          %li= link 'API', '/api'
          %li= link 'About', '/about'
          %li= link 'Changelog', 'http://github.com/extmvc/extmvc/commits/master#commit'
      .clear
      %div.grid_12
        = yield
      .clear
    %script{:type => "text/javascript"}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => "text/javascript"}
      try {
      var pageTracker = _gat._getTracker("UA-4113660-3");
      pageTracker._trackPageview();
      } catch(err) {}